{% extends 'portfolio/base.html' %}

{% block content %}
  <div class="card mb-3"style="max-width: 50rem;color:#4B7381;">
  <div class="card-body">
    <h5 class="card-title"><b>Client Information</b></h5>
    <p class="card-text">Eagle Financial Services, your Midwest Financial Services Partner.</p>
  </div>
</div>

<div  class="table-responsive text-nowrap">
  <table class="table table-striped">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer Number</th>
        <th scope="col">Name</th>
        <th width="50%">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Zip</th>
        <th scope="col">Primary Email</th>
        <th scope="col">Cell Phone</th>
        <th colspan="3" style=" text-align: center;">Actions</th>
      </tr>
    </thead>
    <tbody>
     {% for customer in customer %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
           <td>{{ customer.cust_number }}</td>
           <td>{{ customer.name }}</td>
           <td>{{ customer.address }}</td>
           <td>{{ customer.city }}</td>
           <td>{{ customer.state }}</td>
           <td>{{ customer.zipcode }}</td>
           <td>{{ customer.email }}</td>
           <td>{{ customer.cell_phone }}</td>
           <td><a href="{% url 'portfolio:customer_edit' pk=customer.pk %}" class="btn btn-warning">Edit</a>
           <td><a href="{% url 'portfolio:customer_delete' pk=customer.pk %}" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger">Delete</a>
           </td>
           <td><a href="{% url 'portfolio:portfolio' pk=customer.pk %}" class="btn btn-primary">Portfolio</a>
        </tr>
     {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
