dj-config-url==0.1.1
dj-database-url==0.4.2
Django==2.1.5
django-crispy-forms==1.9.1
django-mathfilters==1.0.0
djangorestframework==3.11.0
reportlab==3.5.44
requests==2.24.0
selenium==3.141.0
whitenoise==5.1.0
xhtml2pdf==0.2.4
